@page "/Products"
@using BlazorApp.Data
@using BlazorApp.Service
@inject NavigationManager NavigationManager
@inject CommodityApiClient CommodityService
查询商品：<Search Placeholder="input search text" WrapperStyle="width: 200px;" ClassicSearchIcon />
<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Search">Search</Button>
<h3>商品列表</h3>

<Row Gutter="2">
    @if (list == null)
    {
        <p>暂无数据</p>
    }
    else
    {
        @foreach(BlazorApp.Data.commodityItem item in list)
        {
            <div class="col-md-3 mb-2">
                <a href="/ProductDetails/@item.commodity_name">
                    <div class="card">
                        <img class="img-thumbnail" src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" >
                        <div class="card-body">
                            <div>
                                <Avatar Size="large" Src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" />
                                <span>@name</span>
                            </div>
                            <h5 class="card-title mb-3">
                                @item.commodity_name
                            </h5>
                            <p class="txt">团购开始时间：@item.start_time</p>
                            <p class="txt">团购结束时间：@item.end_time</p>
                            <p class="card-text">
                                <b>@item.item_price.ToString("C")</b>
                            </p>
                        </div>
                    </div>
                </a>

            </div>
                    
        }
    }
    
</Row>
@code {
    private commodityItem[]? list;
    //private Commodity[]? list;
    //Commodity commodity = new Commodity();
    string name = "小店";
    protected override async Task OnInitializedAsync()
    {
        list = await CommodityService.AllCommodity();
    }
}
