@page "/groupShop"
@using BlazorApp.Data
查询商家：<Search Placeholder="input search text" WrapperStyle="width: 200px;" ClassicSearchIcon />
<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Search">Search</Button>
<h3>商家详情</h3>
<div>
    <Avatar Size="64" Src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" />
    <span class="mb-5">@shopName</span>
</div>
<Divider />
<Row Gutter="2">
@foreach(var item in list)
{
    <div class="col-md-3 mb-2">
        <a href="/ProductDetails/@item.commodity_id">
            <div class="card">
                <img class="img-thumbnail" src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" >
                <div class="card-body">
                    <div>
                        <Avatar Size="large" Src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" />
                        <span>@shopName</span>
                    </div>
                    <h5 class="card-title mb-3">
                        @item.commodity_name
                    </h5>
                    <p class="txt">团购开始时间：@item.start_time</p>
                    <p class="txt">团购结束时间：@item.end_time</p>
                    <p class="card-text">
                        <b>@item.item_price.ToString("C")</b>
                    </p>
                </div>
            </div>
        </a>

    </div>            
}
</Row>
@code {
    List<Commodity> list = new List<Commodity>();
    //private Commodity[]? list;
    Commodity commodity = new Commodity();
    string shopName = "小店";
    protected override async Task OnInitializedAsync()
    {
        commodity.commodity_id=1;
        commodity.commodity_name = "hhh";
        commodity.item_price = 10;
        list.Add(commodity);
        list.Add(commodity);
        list.Add(commodity);
        list.Add(commodity);
        list.Add(commodity);
    }
}
