@page "/groupShop"
@using BlazorApp.Data
@using BlazorApp.Service
@inject NavigationManager NavigationManager
@inject CommodityApiClient CommodityService
查询商家：<Search Placeholder="input search text" WrapperStyle="width: 200px;" ClassicSearchIcon @bind-Value="shopName"/>
<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Search" @onclick="search">Search</Button>
<h3>商家详情</h3>
<div>
    <Avatar Size="64" Src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" />
    <span class="mb-5">@shopName</span>
</div>
<Divider />
<Row Gutter="2">
@foreach(var item in list)
{
    <div class="col-md-3 mb-2">
        <a href="/ProductDetails/@item.commodity_id">
            <div class="card">
                <img class="img-thumbnail" src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" >
                <div class="card-body">
                    <div>
                        <Avatar Size="large" Src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" />
                        <span>@shopName</span>
                    </div>
                    <h5 class="card-title mb-3">
                        @item.commodity_name
                    </h5>
                    <p class="txt">团购开始时间：@item.start_time</p>
                    <p class="txt">团购结束时间：@item.end_time</p>
                    <p class="card-text">
                        <b>@item.item_price.ToString("C")</b>
                    </p>
                </div>
            </div>
        </a>

    </div>            
}
</Row>
@code {
    private commodityItem[]? list;
    //List<Commodity> list = new List<Commodity>();
    //private Commodity[]? list;
    Commodity commodity = new Commodity();
    string shopName = "卖家小罗";
    User user = new User();
    protected async Task search()
    {
        user = await CommodityService.getShop(shopName);
        list = await CommodityService.AllCommodity();
    }
}
