@page "/ProductDetails/{Id:int}"
@using BlazorApp.Data
@using BlazorApp.Service
@inject CommodityApiClient CommodityService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
<div>
    <Avatar Size="64" Src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" />
    <span>@shopName</span>
</div>
<Divider />
@if (Product == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"></DisplayError>
}
else
{
    <h3 class="mb-5">商品详情</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <!--<img class="img-fluid" src="@Product.ImageURL">-->
            @if (@Product.commodity_id == 1)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png">
            }
            else if(@Product.commodity_id == 2)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/25/QrWqCVsS.jpg">
            }
            else if(@Product.commodity_id == 3)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/25/lGouD7dD.jpg">
            }
            else if(@Product.commodity_id == 4)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/25/7J7P56k3.jpg">
            }
            else if(@Product.commodity_id == 4)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/25/4Ta04MVW.jpg">
            }
            else
            {
                <img class="img-fluid" src="@Product.ImageURL">
            }
        </div>
        <div class="col-md-6">
            <h3>@Product.commodity_name</h3>
            <p class="txt">团购开始时间：@Product.start_time</p>
            <p class="txt">团购结束时间：@Product.end_time</p>
            <p class="mb-4">剩余数量：@Product.total_count</p>
            <p class="mb-4">
                <b>
                    @Product.item_price.ToString("C")
                </b>
            </p>
            <p role="status">购买数量: @currentCount &emsp;&emsp;&emsp;
            <button class="btn btn-primary" @onclick="IncrementCount">+1</button>
            <button class="btn btn-primary" @onclick="ToZore">清零</button></p>
            <div>
                <button class="btn btn-success" @onclick="Purchase"><b>立即购买</b></button>
            </div>
        </div>

    </div>
}

@code{
    [Parameter]
    public int Id { get; set; }

    Commodity Product = new Commodity();
    [Inject] public MessageService MsgSvr { get; set; }
    public string ErrorMessage { get; set; }
    string shopName = "卖家小罗";
    protected override async Task OnInitializedAsync()
    {
        /*Product.commodity_id = 3;
        Product.commodity_name = "可乐";
        Product.item_price = 2;
        Product.total_count = 28;
        Product.start_time = new DateTime(2022, 6, 20, 15, 17, 29);
        Product.end_time = new DateTime(2022, 6, 28, 15, 17, 29);*/
        Product = await CommodityService.getProduct(Id);

    }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void ToZore()
    {
        currentCount = 0;
    }
    protected async Task Purchase()
    {
        if(currentCount==0)
        {
            MsgSvr.Error($"没有选择购买数量！");
        }
        else
        {
            var token = await sessionStorage.GetItemAsync<string>("token");
            OrderStr test = await CommodityService.Purchase(token,"Product.commodity_name",currentCount);
            if (test != null)
            {
                MsgSvr.Success($"购买中");
                NavigationManager.NavigateTo("Checkout/" + test.commodity_id+"/"+test.count);
                //NavigationManager.NavigateTo("Checkout/"+test.temporaryOrder_id+"/薯片/"+test.total_prince+"/"+test.count);
            }
            else
            {
                MsgSvr.Error($"购买失败！");
            }
        }
        
    }


}