@page "/shopOrder/{Id:int}"
@layout ShopLayout
@using BlazorApp.Data
@using BlazorApp.Service
@using System.ComponentModel
@using AntDesign.TableModels
@using System.Net.Http
@inject HttpClient Http
@inject UserApiClient UserService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<h3>ShopOrder</h3>
<h4 class="mb-2">订单列表</h4>
<table class="table">
    <thead>
        <tr>
            <th>订单号</th>
            <th>商品ID</th>
            <th>下单时间</th>
            <th>商品数量</th>
            <th>总价</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in data)
        {
            <tr>
                <td>@item.temporaryOrder_id</td>
                <td>@item.commodity_id</td>
                <td>@item.time</td>
                <td>@item.count</td>
                <td>@item.total_prince.ToString("C")</td>
            </tr>
        }
        
    </tbody>
</table>
@code {
    [Parameter]
    public int Id { get; set; }
    private User user = new User();
    private OrderStr[]? data ;
    //List<TemporaryOrder> data = new List<TemporaryOrder>();
    //TemporaryOrder order = new TemporaryOrder();
    protected override async Task OnInitializedAsync()
    {
        var token = await sessionStorage.GetItemAsync<string>("token");
        user = await UserService.SearchUser(token);
        data = await UserService.GetOrderList(token);
    }
}
