@page "/shopCenter"
@layout ShopLayout
@using BlazorApp.Data
@using BlazorApp.Service
@inject NavigationManager NavigationManager
@inject CommodityApiClient CommodityService
<h3>ShopCenter</h3>
<div>
    <Avatar Size="64" Src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" />
    <span class="mb-5">@shopName</span>
</div>
<Divider />
<Row Gutter="2">
     @if (list == null)
    {
        <p>暂无数据</p>
    }
    else
    {
        @foreach(BlazorApp.Data.commodityItem item in list)
        {
            <div class="col-md-3 mb-2">
                <a href="/ProductDetails/@item.commodity_name">
                    <div class="card">
                        @if (@item.commodity_id == 1)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png">
            }
            else if(@item.commodity_id == 2)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/25/QrWqCVsS.jpg">
            }
            else if(@item.commodity_id == 3)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/25/lGouD7dD.jpg">
            }
            else if(@item.commodity_id == 4)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/25/7J7P56k3.jpg">
            }
            else if(@item.commodity_id == 4)
            {
                <img class="img-fluid" src="https://img1.imgtp.com/2022/06/25/4Ta04MVW.jpg">
            }
                        <div class="card-body">
                            <div>
                                <Avatar Size="large" Src="https://img1.imgtp.com/2022/06/24/YZy9Rxfn.png" />
                                <span>@shopName</span>
                            </div>
                            <h5 class="card-title mb-3">
                                @item.commodity_name
                            </h5>
                            <p class="txt">团购开始时间：@item.start_time</p>
                            <p class="txt">团购结束时间：@item.end_time</p>
                            <p class="card-text">
                                <b>@item.item_price.ToString("C")</b>
                            </p>
                        </div>
                    </div>
                </a>

            </div>
                    
        }
    }
</Row>
@code {
    private commodityItem[]? list;
    //private Commodity[]? list;
    //Commodity commodity = new Commodity();
    string shopName = "卖家小罗";
    protected override async Task OnInitializedAsync()
    {
        list = await CommodityService.AllCommodity();
    }
}
